@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- Hero Banner ---------- */
.hero__banner {
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/600x600.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero__banner__container {
        height: 100%;

        .hero__banner__row {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .hero__banner__column {

                .hero__banner__content {
                    padding: 1rem;
                    text-align: center;
                    color: #ffffff;

                    .hero__banner__content__heading {
                        font-size: 48px;
                        font-weight: 700;
                    }

                    .hero__banner__content__description {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

/* ---------- Content ---------- */
.content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    .content__container {

        .content__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .content__column {
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 2rem;

                .content__card {
                    position: relative;
                    padding: 1.25rem;
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                    height: 100%;
                    // box-shadow: ;

                    .content__header {
                        display: flex;
                        justify-content: center;

                        .content__image {
                            border-radius: 8px;
                        }
                    }

                    .content__body {
                        position: relative;
                        height: 150px;
                        margin: 1rem 0;
                        text-align: center;
                    }

                    .content__footer {
                        text-align: center;
                        margin-bottom: 1rem;

                        .content__button {
                            padding: 0.5rem 1rem;
                            border: 2px solid #000000;
                            border-radius: 30px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-weight: 700;
                            transition: 300ms ease-in all;

                            &:hover {
                                background-color: #000000;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------- Tabs and Accordion ---------- */
.tabs__accordion {
    padding-top: 50px;
    padding-bottom: 50px;

    .tabs__accordion__container {
        padding: 0 1rem;

        .tabs_accordion__nav  {
            display: none;
        }

        .tabs__accordion__content {

            .tabs__accordion__card {
                margin-bottom: 1.5rem;

                &.active {
                    display: block;
                }

                .tabs__accordion__header {
                    background-color: #252525;
                    display: block;
                    padding: 1.5rem;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    
                    .tabs__accordion__icon {
                        margin-left: auto;
                    }
                }

                .tabs__accordion__body {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    padding: 1rem;
                    background-color: #eeeeee;
                    max-height: 100%;
                    transition: all 300ms ease-in-out;

                    &:not(.active) {
                        max-height: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                        visibility: hidden;
                        opacity: 0;
                    }

                    p {
                        margin-bottom: 1rem;
                    }

                    ul {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    /* ---------- Content ---------- */
    .content {

        .content__container {

            .content__row {

                .content__column {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    /* ---------- Hero Banner ---------- */
    .hero__banner {
        width: 100%;
        max-width: 100%;
        height: 650px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/1920x650.jpg');
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;

        .hero__banner__container {
            height: 100%;

            .hero__banner__row {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .hero__banner__column {

                    .hero__banner__content {
                        padding: 1rem;
                        text-align: center;
                        color: #ffffff;

                        .hero__banner__content__heading {
                            font-size: 72px;
                            font-weight: 700;
                        }

                        .hero__banner__content__description {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }

    /* ---------- Content ---------- */
    .content {

        .content__container {

            .content__row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    /* ---------- Tabs and Accordion ---------- */
    .tabs__accordion {
        
        .tabs__accordion__container {

            .tabs_accordion__nav  {
                display: flex;
                font-size: 14px;
                font-weight: 500;

                .tabs__accordion__item {
                    background-color: #4a4a4a;
                    color: #ffffff;
                    display: inline-block;
                    padding: 1rem;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;

                    &.active, &:hover {
                        background-color: #252525;
                    }

                    &:first-child {
                        border-top-left-radius: 0.5rem;
                    }

                    &:last-child {
                        border-top-right-radius: 0.5rem;
                    }
                }
            }

            .tabs__accordion__content {

                .tabs__accordion__card {
                    margin-bottom: 0;

                    .tabs__accordion__header {
                        display: none;
                    }

                    .tabs__accordion__body {
                        padding: 2rem 1rem;
                        display: none;
                        border-bottom-left-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;

                        &.active {
                            display: block!important;
                        }

                        p {
                            margin-bottom: 1rem;
                        }

                        ul {
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }
    }
}